langchain-openai
langchain
python-dotenv
langchain-community
langchain_core
streamlit
ipykernel
pymupdf
sentence_transformers
langchain_huggingface
langchain_chroma
langchain_groq
faiss-cpu
duckdb
chromadb
bs4
langchain-text-splitters
pandas
openai
langchain-openai
arxiv
pypdf
langchain_huggingface
wikipedia